@font-face {
  font-family: 'amuktipalapa';
  src: url('https://fontjava.github.io/font/amuktipalapa.woff') format('woff'),
       url('https://fontjava.github.io/font/amuktipalapa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}